.header-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 2, 68);
}

.nav {
    background-color: rgb(2, 2, 68);
    margin-top: 50px;

}
.nav a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: white;
}

.nav a:hover {
    color: yellow;
    font-weight: 600;
    margin-left: 10px;
    padding-left: 10px;
}

.logo img {
    width: 120px;
    height: 60px;
    background-color: rgb(2, 2, 68);
    margin-top: 50px;
}