.login {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.right-side {
    margin-top: 70px;
}

.h2r {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    font-size: 28px;
}

#paragraph {
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}


.left-side {
    background-color: rgb(172, 194, 214);
}
.form {
    background-color: white;
    text-align: center;
    padding: 50px;
    width: 400px;
    height: 300px;
    margin-left: 300px;
    margin-top: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.btn-submit {
    width: 300px;
    background-color: rgb(0, 119, 255);
    color: white;
}

.btn-submit a {
    text-decoration: none;
    color: white;
}

.btn-submit:hover {
    background-color: rgb(47, 154, 255);
    color: white;
}
.form h3 {
    font-weight: 400;
    color: black;
}
.form p {
    text-align: center;
    font-size: 15px;
    color: lightgray;
}

#footer {
    color: rgb(231, 231, 231);
    font-size: 10px;
    margin-top: 80px;
    text-align: center;
    letter-spacing: 1px;
}
